{% extends 'base.html' %}

{% block content %}
{% load static %}
{% load markdown_extras %}

        <!-- Home Start -->
        <section class="bg-half d-table w-100" style="background: url('{% static 'images/bg-blog.jpg' %}')center center;">
            <div class="bg-overlay bg-overlay-black"></div>
            <div class="container">
                <div class="row mt-5 justify-content-center">
                    <div class="col-lg-12 text-center">
                        <div class="page-next-level">
                            <h4 class="title text-white"> {{ post.titre }} </h4>
                            <ul class="list-unstyled mt-3">
                                <li class="list-inline-item mr-3"><i class="mdi mdi-tag-outline mr-1"></i><a href="javascript:void(0)" class="text-muted">{{ post.categorie }}</a></li>
                                <li class="list-inline-item mr-3"><i class="mdi mdi-account-heart mr-1"></i><a href="javascript:void(0)" class="text-muted">The Fox</a></li>
                                <li class="list-inline-item"><i class="mdi mdi-calendar-edit mr-1"></i><span class="text-muted">{{ post.date}}</span> </li>
                            </ul>
                            <ul class="page-next bg-light d-inline-block py-2 px-4 mt-3 rounded mb-0">
                                <li><a href="index.html" class="text-dark">Fox</a></li>
                                <li><a href="page-blog.html" class="text-dark">Blog</a></li> 
                                <li>
                                    <span class="text-primary">{{ post.titre }}</span>
                                </li> 
                            </ul>
                        </div>
                    </div>  <!--end col-->
                </div><!--end row-->
            </div> <!--end container-->
        </section><!--end section-->
        <!-- Home End -->

        <!-- Blog STart -->
        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-4">
                        <div class="sticky-sidebar">
                            <img src="{{ post.photo500_x_800.url }}" class="img-fluid rounded d-block" alt="{{ post.titre }}">
                            {% if post.photo800_x_533 %}
                                <img src="{{ post.photo800_x_533.url }}" class="img-fluid rounded mt-4" alt="{{ post.titre }}">
                            {% endif %}
                        </div>
                    </div>
                    <!-- BLog Start -->
                    <div class="col-lg-7 col-md-8 mt-4 mt-sm-0 pt-2 pt-sm-0">
                        <div class="blog position-relative overflow-hidden shadow rounded">
                            <div class="content p-4">
                                <h6 class="font-weight-normal"><i class="mdi mdi-tag text-primary mr-1"></i><a href="javscript:void(0)" class="text-primary">{{ post.categorie }}</a></h6>
                                
                                <div class="markdown-content">
                                    {{ post.contenuP1|safe }}
                                    
                                    {% if post.contenuP2 %}
                                    {{ post.contenuP2|safe }}
                                    {% endif %}
                                    
                                    {% if post.contenuP3 %}
                                    {{ post.contenuP3|md|safe }}
                                    {% endif %}
                                    
                                    {% if post.contenuP4 %}
                                    {{ post.contenuP4|md|safe }}
                                    {% endif %}
                                </div>

                                <blockquote class="blockquote mt-3 p-3">
                                    <p class="text-muted mb-0 font-italic">" {{post.contenuSitation}} "</p>
                                </blockquote>
                                
                                <div class="markdown-content">
                                    {{ post.contenuConclusion|md|safe }}
                                </div>

                                <div class="post-meta mt-3">
                                    <ul class="list-unstyled mb-0">
                                        <li class="list-inline-item float-right">
                                            <ul class="list-unstyled">
                                                <li class="list-inline-item">Share :</li>
                                                <li class="list-inline-item"><a href="javascript:void(0)" class="text-muted"><i class="mdi mdi-facebook"></i></a></li>
                                                <li class="list-inline-item"><a href="javascript:void(0)" class="text-muted"><i class="mdi mdi-instagram"></i></a></li>
                                                <li class="list-inline-item"><a href="javascript:void(0)" class="text-muted"><i class="mdi mdi-google-plus"></i></a></li>
                                                <li class="list-inline-item"><a href="javascript:void(0)" class="text-muted"><i class="mdi mdi-twitter"></i></a></li>
                                            </ul>
                                        </li>
                                        <li class="list-inline-item mr-2"><a href="javascript:void(0)" class="text-muted like"><i class="mdi mdi-heart-outline mr-1"></i>33</a></li>
                                        <li class="list-inline-item"><a href="javascript:void(0)" class="text-muted comments"><i class="mdi mdi-comment-outline mr-1"></i>{{ commentaires.count }}</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="mt-4 pt-2 comment-area ">
                            <div class="p-4 shadow rounded">
                                <h5 class="page-title pb-3">Commentaires :</h5>
                                <ul class="media-list list-unstyled mb-0">
                                    {% for commentaire in commentaires %}
                                    <li class="media mt-4">
                                        <a class="float-left pr-3 mt-2" href="#">
                                            <img class="img-fluid d-block mx-auto img-thumbnail rounded-circle" src="images/client/01.jpg" alt="img">
                                        </a>

                                        <div class="media-body">
                                            <h6 class="media-heading mb-0"><a href="javascript:void(0)" class="text-dark">{{ commentaire.visiteur.nom }}</a></h6>
                                            <small class="text-muted">{{ commentaire.date }}</small>
                                            <p class="mt-2 bg-light font-italic media-para text-muted rounded pt-3 pb-3 pl-4 pr-3 mb-0">
                                                {{ commentaire.contenu }}</p>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <div class="mt-4 pt-2">
                            <div class="p-4 shadow rounded">
                                <h5 class="page-title pb-3">Laisser un Commentaire :</h5>
                                <form>
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <textarea id="message" placeholder="Votre commentaire" rows="5" name="contenu" class="form-control border rounded" required=""></textarea>
                                            </div>
                                        </div><!--end col-->

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input id="name" name="nom" type="text" placeholder="Name" class="form-control border rounded" required="">
                                            </div>
                                        </div><!--end col-->

                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input id="email" type="email" placeholder="Email" name="email" class="form-control border rounded" required="">
                                            </div>
                                        </div><!--end col-->

                                        <div class="col-md-12">
                                            <div class="send">
                                            <button type="submit" class="btn btn-primary rounded">Envoyer</button>
                                            </div>
                                        </div><!--end col-->
                                    </div><!--end row-->
                                </form><!--end form-->
                            </div>
                        </div>
                    </div>
                    <!-- BLog End -->
                </div><!--end row-->
            </div><!--end container-->

            <div class="container mt-100 mt-60">
                <div class="row justify-content-center">
                    <div class="col-12 text-center">
                        <div class="section-title">
                            <div class="titles">
                                <h4 class="title title-line text-uppercase mb-4 pb-4">Posts Similaires</h4>
                                <span></span>
                            </div>
                            <p class="text-muted mx-auto para-desc mb-0">Posts relatifs à ce dernier.</p>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->

                <div class="row">
                    {% for post in posts %}
                    <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                        <div class="blog-post rounded shadow">
                            {% if post.photo500_x_800 %}
                              <img src="{{ post.photo500_x_800.url }}" class="img-fluid rounded-top" alt="{{ post.titre }}">
                            {% endif %}
                            <div class="content pt-4 pb-4 p-3">
                                <ul class="list-unstyled d-flex justify-content-between post-meta">
                                    <li><i data-feather="user" class="fea icon-sm mr-1"></i><a href="javascript:void(0)" class="text-dark">{{ post.auteur }}</a></li> 
                                    <li><i data-feather="tag" class="fea icon-sm mr-1"></i><a href="javascript:void(0)" class="text-dark">{{ post.categorie }}</a></li>                                    
                                </ul>  
                                <h5 class="mb-3"><a href="{% url 'post' post.id %}" class="title text-dark">{{ post.titre | slice:"0:50" }} ...</a></h5> 
                                <ul class="list-unstyled mb-0 pt-3 border-top d-flex justify-content-between">
                                    <li><a href="javascript:void(0)" class="text-dark">Voir plus <i data-feather="chevron-right" class="fea icon-sm"></i></a></li>
                                    <li><i class="mdi mdi-calendar-edit mr-1"></i>{{post.date}}</li>
                                </ul>
                            </div><!--end content-->
                        </div><!--end blog post-->
                    </div><!--end col-->
                    {% endfor %}
                </div><!--end row-->
            </div><!--end container-->
        </section>
        <!-- Blog -->
{% endblock %}