{% extends 'base.html' %}

{% block content %}
{% load static %}

    <!-- Home Start -->
    <section class="bg-half d-table w-100" style="background: url('{% static 'images/bg-folio.jpg' %}')center center;">
        <div class="bg-overlay bg-overlay-black"></div>
        <div class="container">
            <div class="row mt-5 justify-content-center">
                <div class="col-lg-12 text-center">
                    <div class="page-next-level">
                        <h4 class="title text-white"> Projets & Travaux </h4>
                        <ul class="page-next bg-light d-inline-block py-2 px-4 mt-3 rounded mb-0">
                            <li><a href="index.html" class="text-dark">Fox</a></li>
                            <li>
                                <span class="text-primary"> Projets</span>
                            </li>
                        </ul>
                    </div>
                </div> <!--end col-->
            </div><!--end row-->
        </div> <!--end container-->
    </section><!--end section-->
    <!-- Home End -->

    <!-- Projects End -->
    <section class="section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <ul class="portfolioFilter text-center mb-0 list-unstyled">
                        <li class="list-inline-item mb-3">
                            <a href="#" data-filter="*" class="active text-dark mr-2 py-2 px-3 rounded">All</a>
                        </li>
                        <li class="list-inline-item mb-3">
                            <a href="#" data-filter=".dev" class="text-dark mr-2 py-2 px-3 rounded">Dev</a>
                        </li>
                        <li class="list-inline-item mb-3">
                            <a href="#" data-filter=".security" class="text-dark mr-2 py-2 px-3 rounded">Security</a>
                        </li>
                        <li class="list-inline-item mb-3">
                            <a href="#" data-filter=".achievement" class="text-dark mr-2 py-2 px-3 rounded">Achievement</a>
                        </li>

                    </ul>
                </div><!--end col-->
            </div><!--end row-->

            <div class="portfolioContainer row">
                {% for projet in projets %}
                	<div class="col-lg-4 col-md-6 mt-4 pt-2 {{ projet.categorie}}">
                    <div class="portfolio-box rounded shadow position-relative overflow-hidden">
                        <div class="portfolio-box-img position-relative overflow-hidden">
                            <img src="{{ projet.photo1_800_x_550.url }}" 
                                 class="img-fluid" 
                                 alt="{{ projet.nom }}" 
                                 style="height: 250px; width: 100%; object-fit: cover;" />
                            <div class="overlay-work">
                                <div class="work-content text-center">
                                    <a href="{{ projet.photo1_800_x_550.url }}"
                                        class="text-light work-icon bg-dark d-inline-block rounded-pill mfp-image">
                                        <i data-feather="camera" class="fea icon-sm image-icon"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="gallary-title py-4 text-center">
                            <h5>
                                {% if projet.demo %}
                                <a href="{% url 'projet' projet.id %}" class="title text-dark">{{ projet.nom }} </a>
                                    <a href="{{ projet.demo }}" class="title text-red"> :Demo</a>
                                {% else %}
                                    <a href="{% url 'projet' projet.id %}" class="title text-dark">{{ projet.nom }}</a>
                                {% endif %}
                            </h5>
                            <span>{{ projet.sujet }}</span>
                        </div>
                    </div>
                </div>
                <!--end col-->
                {% endfor %}





            </div>
       
       
       
        </div><!--end container-->

        <div class="container mt-100 mt-60">
            <div class="row justify-content-center">
                <div class="col-12 text-center">
                    <div class="section-title">
                        <div class="titles">
                            <h4 class="title title-line text-uppercase mb-4 pb-4">Les clients disent ...</h4>
                            <span></span>
                        </div>
                        <p class="text-muted mx-auto para-desc mb-0">Chez Fox , la satisfaction du client est éssentielle et leurs retours jouent un role primmordial dans l'amélioration de nos services.</p>
                    </div>
                </div><!--end col-->
            </div><!--end row-->

            <div class="row">
                <div class="col-12">
                    <div id="clients-testi" class="owl-carousel mt-3">
                        <!--Start Client-->
                        <div class="client-review border rounded m-3 mb-4 position-relative shadow">
                            <div class="review-star">
                                <ul class="list-unstyled float-right mb-0">
                                    <li class="list-inline-item text-primary"><i class="mdi mdi-star"></i></li>
                                    <li class="list-inline-item text-primary"><i class="mdi mdi-star"></i></li>
                                    <li class="list-inline-item text-primary"><i class="mdi mdi-star"></i></li>
                                    <li class="list-inline-item text-primary"><i class="mdi mdi-star"></i></li>
                                    <li class="list-inline-item text-primary"><i class="mdi mdi-star"></i></li>
                                </ul>

                                <div class="review-base">
                                    <h6 class="title">" Efficacité redoutable "</h6>
                                </div>
                            </div><!--end review star-->

                            <p class="text-muted review-para font-italic mt-3 mb-3" style="font-size: 13px;">FOX a développé une solution tellement bien pensée que ça a doublé notre productivité en un rien de temps. Le gars sait exactement ce qu'il fait, et ça se voit ! Je recommande à 200%.</p>
                            <div class="reviewer d-flex align-items-center">
                                <img src="{% static 'images/client/c.png' %}" class="img-fluid rounded-circle avatar avatar-small mr-3" alt="">
                                <div class="content">
                                    <h5 class="name mb-0">Marc K.</h5>
                                    <small class="designation text-muted">PDG d'une start-up tech</small>
                                </div>
                            </div><!--end reviewer-->
                        </div><!--end client review-->
                        <!--End Client-->

                        <!--Start Client-->                            
                        <div class="client-review border rounded m-3 mb-4 position-relative shadow">
                            <div class="review-star">
                                <ul class="list-unstyled float-right mb-0">
                                    <li class="list-inline-item text-primary"><i class="mdi mdi-star"></i></li>
                                    <li class="list-inline-item text-primary"><i class="mdi mdi-star"></i></li>
                                    <li class="list-inline-item text-primary"><i class="mdi mdi-star"></i></li>
                                    <li class="list-inline-item text-primary"><i class="mdi mdi-star"></i></li>
                                    <li class="list-inline-item text-primary"><i class="mdi mdi-star-half"></i></li>
                                </ul>

                                <div class="review-base">
                                    <h6 class="title">" Créativité hors pair "</h6>
                                </div>
                            </div><!--end review star-->

                            <p class="text-muted review-para font-italic mt-3 mb-3" style="font-size: 13px;">Je n'avais jamais vu des designs aussi originaux. Fox a su capturer exactement l'âme de mon entreprise avec un style à la fois pro et innovant. Chapeau bas !</p>
                            <div class="reviewer d-flex align-items-center">
                                <img src="{% static 'images/client/c.png' %}" class="img-fluid rounded-circle avatar avatar-small mr-3" alt="">
                                <div class="content">
                                    <h5 class="name mb-0">Jean T.

                                    </h5>
                                    <small class="designation text-muted">Commerçant</small>
                                </div>
                            </div><!--end reviewer-->
                        </div><!--end client review-->
                        <!--End Client-->

                        <!--Start Client-->                            
                        <div class="client-review border rounded m-3 mb-4 position-relative shadow">
                            <div class="review-star">
                                <ul class="list-unstyled float-right mb-0">
                                    <li class="list-inline-item text-primary"><i class="mdi mdi-star"></i></li>
                                    <li class="list-inline-item text-primary"><i class="mdi mdi-star"></i></li>
                                    <li class="list-inline-item text-primary"><i class="mdi mdi-star"></i></li>
                                    <li class="list-inline-item text-primary"><i class="mdi mdi-star"></i></li>
                                    <li class="list-inline-item text-primary"><i class="mdi mdi-star"></i></li>
                                </ul>

                                <div class="review-base">
                                    <h6 class="title">" Service client au top "</h6>
                                </div>
                            </div><!--end review star-->

                            <p class="text-muted review-para font-italic mt-3 mb-3" style="font-size: 13px;">Non seulement ils livrent des solutions efficaces, mais en plus, ils sont super sympas et à l'écoute. Toujours prêts à améliorer ou adapter le projet selon mes besoins.</p>
                            <div class="reviewer d-flex align-items-center">
                                <img src="{% static 'images/client/c.png' %}" class="img-fluid rounded-circle avatar avatar-small mr-3" alt="">
                                <div class="content">
                                    <h5 class="name mb-0">Alice M.</h5>
                                    <small class="designation text-muted">Développeuse indépendante

                                    </small>
                                </div>
                            </div><!--end reviewer-->
                        </div><!--end client review-->
                        <!--End Client-->

                        <!--Start Client-->
                        <div class="client-review border rounded m-3 mb-4 position-relative shadow">
                            <div class="review-star">
                                <ul class="list-unstyled float-right mb-0">
                                    <li class="list-inline-item text-primary"><i class="mdi mdi-star"></i></li>
                                    <li class="list-inline-item text-primary"><i class="mdi mdi-star"></i></li>
                                    <li class="list-inline-item text-primary"><i class="mdi mdi-star"></i></li>
                                    <li class="list-inline-item text-primary"><i class="mdi mdi-star"></i></li>
                                    <li class="list-inline-item text-primary"><i class="mdi mdi-star"></i></li>
                                </ul>

                                <div class="review-base">
                                    <h6 class="title">" Prix imbattables "</h6>
                                </div>
                            </div><!--end review star-->

                            <p class="text-muted review-para font-italic mt-3 mb-3" style="font-size: 13px;">Franchement, pour la qualité du service, je ne m'attendais pas à ce que ce soit aussi abordable. FOX m'a impressionné à tous les niveaux, de la technique aux tarifs.</p>
                            <div class="reviewer d-flex align-items-center">
                                <img src="{% static 'images/client/c.png' %}" class="img-fluid rounded-circle avatar avatar-small mr-3" alt="">
                                <div class="content">
                                    <h5 class="name mb-0">David P.t</h5>
                                    <small class="designation text-muted">Freelance en e-commerce</small>
                                </div>
                            </div><!--end reviewer-->
                        </div><!--end client review-->
                        <!--End Client-->

                        <!--Start Client-->                            
                        <div class="client-review border rounded m-3 mb-4 position-relative shadow">
                            <div class="review-star">
                                <ul class="list-unstyled float-right mb-0">
                                    <li class="list-inline-item text-primary"><i class="mdi mdi-star"></i></li>
                                    <li class="list-inline-item text-primary"><i class="mdi mdi-star"></i></li>
                                    <li class="list-inline-item text-primary"><i class="mdi mdi-star"></i></li>
                                    <li class="list-inline-item text-primary"><i class="mdi mdi-star-half"></i></li>
                                    <li class="list-inline-item text-primary"><i class="mdi mdi-star-outline"></i></li>
                                </ul>

                                <div class="review-base">
                                    <h6 class="title">" Innovation garantie "</h6>
                                </div>
                            </div><!--end review star-->

                            <p class="text-muted review-para font-italic mt-3 mb-3" style="font-size: 13px;">Le projet que FOX a réalisé pour nous est tout simplement révolutionnaire. Ils sont venus avec des idées auxquelles je n'aurais jamais pensé, tout en restant proches de notre vision.</p>
                            <div class="reviewer d-flex align-items-center">
                                <img src="{% static 'images/client/c.png' %}" class="img-fluid rounded-circle avatar avatar-small mr-3" alt="">
                                <div class="content">
                                    <h5 class="name mb-0">Sarah B.</h5>
                                    <small class="designation text-muted">Directrice marketing</small>
                                </div>
                            </div><!--end reviewer-->
                        </div><!--end client review-->
                        <!--End Client-->

                        <!--Start Client-->                            
                        <div class="client-review border rounded m-3 mb-4 position-relative shadow">
                            <div class="review-star">
                                <ul class="list-unstyled float-right mb-0">
                                    <li class="list-inline-item text-primary"><i class="mdi mdi-star"></i></li>
                                    <li class="list-inline-item text-primary"><i class="mdi mdi-star"></i></li>
                                    <li class="list-inline-item text-primary"><i class="mdi mdi-star"></i></li>
                                    <li class="list-inline-item text-primary"><i class="mdi mdi-star"></i></li>
                                    <li class="list-inline-item text-primary"><i class="mdi mdi-star"></i></li>
                                </ul>

                                <div class="review-base">
                                    <h6 class="title">" Sérieux "</h6>
                                </div>
                            </div><!--end review star-->

                            <p class="text-muted review-para font-italic mt-3 mb-3" style="font-size: 13px;">Je pouvais leur écrire à n'importe quelle heure, et ils répondaient avec des solutions directes et concrètes. Travail de qualité, dans les temps. Que demander de plus ?</p>
                            <div class="reviewer d-flex align-items-center">
                                <img src="{% static 'images/client/c.png' %}" class="img-fluid rounded-circle avatar avatar-small mr-3" alt="">
                                <div class="content">
                                    <h5 class="name mb-0">Kouamé J.</h5>
                                    <small class="designation text-muted">Entrepreneur</small>
                                </div>
                            </div><!--end reviewer-->
                        </div><!--end client review-->
                        <!--End Client-->
                    </div><!--end testi review-->  
                </div><!--end col-->
            </div><!--end row-->
        </div>


        <div class="container mt-100 mt-60">
           
            <div class="row">
                <div class="col-md-4 mt-4 pt-2">
                    <div class="contact-detail text-center">
                        <div class="icon">
                            <i data-feather="phone" class="fea icon-md"></i>
                        </div>
                        <div class="content mt-4">
                            <h5 class="title text-uppercase">Téléphone</h5>
                            <p class="text-muted">Notre numéro est aussi disponible via whatsapp</p>
                            <a href="https://wa.me/+237658866639" class="text-primary">+237 658-86-66-39</a>
                        </div>  
                    </div>
                </div><!--end col-->
                
                <div class="col-md-4 mt-4 pt-2">
                    <div class="contact-detail text-center">
                        <div class="icon">
                            <i data-feather="mail" class="fea icon-md"></i>
                        </div>
                        <div class="content mt-4">
                            <h5 class="title text-uppercase">Email</h5>
                            <p class="text-muted">Nous sommes aussi joignables par mails à l'adresse suivante.</p>
                            <a href="mailto:donfackarthur750@gmail.com" class="text-primary">donfackarthur750@gmail.com</a>
                        </div>  
                    </div>
                </div><!--end col-->
                
                <div class="col-md-4 mt-4 pt-2">
                    <div class="contact-detail text-center">
                        <div class="icon">
                            <i data-feather="map-pin" class="fea icon-md"></i>
                        </div>
                        <div class="content mt-4">
                            <h5 class="title text-uppercase">Localisation</h5>
                            <p class="text-muted">Ecole Polytechnique <br>Yaounde , Melen</p>
                            <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11259.250745290274!2d11.48950953853385!3d3.864576176802713!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x108bcfa23aace247%3A0xe07671abb10169f9!2s%C3%89cole%20Nationale%20Sup%C3%A9rieure%20Polytechnique%20de%20Yaound%C3%A9!5e0!3m2!1sfr!2scm!4v1725645641232!5m2!1sfr!2scm" class="video-play-icon text-primary">Voir sur Google Map</a>
                        </div>  
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->

    </section><!--end section-->
    <!-- Contact End -->

    
{% endblock %}