{% extends 'base.html' %}
{% load static %}

{% block title %}Fox-project : {{ projet.nom }}{% endblock %}

{% block meta %}
<meta name="description" content="{{ projet.description|striptags|truncatechars:160 }}" />
<meta name="keywords" content="{{ projet.categorie }}, Fox, projet, {{ projet.nom|lower }}" />
<meta name="author" content="The Fox" />

{# Open Graph Meta Tags pour le partage social #}
<meta property="og:title" content="Fox : {{ projet.nom }}" />
<meta property="og:description" content="{{ projet.description|striptags|truncatechars:160 }}" />
<meta property="og:image" content="{{ request.scheme }}://{{ request.get_host }}{{ projet.photo1_800_x_550.url }}" />
<meta property="og:url" content="{{ request.build_absolute_uri }}" />
<meta property="og:type" content="article" />
<meta property="og:site_name" content="Fox Blog" />
<meta property="article:published_time" content="{{ projet.date|date:'c' }}" />
<meta property="article:section" content="{{ projet.categorie }}" />

{# Twitter Card Tags #}
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="Fox : {{ projet.nom }}" />
<meta name="twitter:description" content="{{ projet.description|striptags|truncatechars:160 }}" />
<meta name="twitter:image" content="{{ request.scheme }}://{{ request.get_host }}{{ projet.photo1_800_x_550.url }}" />

{# Schema.org Markup pour les Rich Snippets #}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": "{{ projet.nom }}",
  "image": "{{ request.scheme }}://{{ request.get_host }}{{ post.photo500_x_800.url }}",
  "author": {
    "@type": "Person",
    "name": "The Fox"
  },
  "publisher": {
    "@type": "Organization",
    "name": "Fox",
    "logo": {
      "@type": "ImageObject",
      "url": "{% static 'images/logo-fox-dark.png' %}"
    }
  },
  "datePublished": "{{ projet.date|date:'c' }}",
  "description": "{{ projet.description|striptags|truncatechars:160 }}",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ request.build_absolute_uri }}"
  }
}
</script>
{% endblock %}

{% block content %}
{% load static %}
{% load markdown_extras %}


        <!-- Home Start -->
        <section class="bg-half d-table w-100" style="background: url('{% static 'images/bg-folio.jpg' %}')center center;">
            <div class="bg-overlay bg-overlay-white"></div>
            <div class="container">
                <div class="row mt-5 justify-content-center">
                    <div class="col-lg-12 text-center">
                        <div class="page-next-level">
                            <h4 class="title"> {{ projet.nom }} </h4>
                            <ul class="page-next bg-light d-inline-block py-2 px-4 mt-3 rounded mb-0">
                                <li><a href="index.html" class="text-dark">Fox</a></li>
                                <li><a href="page-portfolio.html" class="text-dark">Projets</a></li> 
                                <li>
                                    <span class="text-primary"> {{ projet.nom }}</span>
                                </li> 
                            </ul>
                        </div>
                    </div>  <!--end col-->
                </div><!--end row-->
            </div> <!--end container-->
        </section><!--end section-->
        <!-- Home End -->

        <!-- Work Start -->
        <section class="section">
            <div class="container">
                <div class="row">
                    <!-- WORK START -->
                    <div class="col-lg-7 col-md-6 order-2 order-md-1 mt-4 mt-sm-0 pt-2 pt-sm-0">
                        <div class="row mr-lg-4">
                            <div class="col-lg-12">
                                <div class="work-details">
                                    <h4 class="title mb-3 border-bottom pb-3">{{ projet.nom}} :</h4>
                                    <p class="text-muted">{{ projet.description |safe }}</p>
                                </div>
                            </div><!--end col-->
                            
                            <div class="col-lg-7 mt-4 pt-2">
                                <div class="work-details bg-light p-4">
                                    <h4 class="title border-bottom pb-3 mb-3">Project Info :</h4>
                                    <ul class="list-unstyled mb-0">
                                        <li class="mt-3">
                                            <b>Concepteur :</b>
                                            <span>Fox</span>
                                        </li>
                                        <li class="mt-3">
                                            <b>Categorie :</b>
                                            <span>{{ projet.categorie}}</span>
                                        </li>
                                        <li class="mt-3">
                                            <b>Sujet :</b>
                                            <span>{{ projet.sujet}}</span>
                                        </li>
                                        <li class="mt-3">
                                            <b>Date :</b>
                                            <span>{{ projet.date}}</span>
                                        </li>

                                        <li class="mt-3">
                                            <b>Demo ou Repo :</b>
                                            {% if projet.demo %}
                                            <span><a href="{{ projet.demo}}" target="_blank" class="text-primary">Demo ou Repo</a></span>
                                            {% else %}
                                            <span><a href="#" target="_blank" class="text-primary">Demo indisponible</a></span>
                                            {% endif %}

                                        </li>
                                    </ul>                          
                                </div>
                            </div><!--end col-->
                        </div><!--end row-->
                    </div><!--end col-->

                    <div class="col-lg-5 col-md-6 order-1 order-md-2">
                        <div class="port-images sticky-sidebar">
                            <img src="{{ projet.photo1_800_x_550.url }}" class="img-fluid mx-auto d-block rounded" alt="img">

                            {% if projet.photo2_800_x_550  %}
                             <img src="{{ projet.photo2_800_x_550.url }}" class="img-fluid mx-auto d-block rounded mt-4" alt="img">
                            {% endif %}
                           {% if projet.photo3_800_x_550  %}
                            <img src="{{ projet.photo3_800_x_550.url }}" class="img-fluid mx-auto d-block rounded mt-4" alt="img">
                        {% endif %}
                        </div>
                    </div><!--end col-->
                </div><!--end row-->

                <div class="row mt-4 pt-2">
                    <div class="col-12">                                
                        <ul class="pagination justify-content-center mb-0 list-unstyled">
                            <li><a href="#" class="pr-3 pl-3 pt-2 pb-2"> <i class="mdi mdi-chevron-left"></i> Prev</a></li>
                            <li><a href="page-portfolio.html" class="pr-3 pl-3 pt-2 pb-2"><i class="mdi mdi-home"></i> Home</a></li>
                            <li><a href="#" class="pr-3 pl-3 pt-2 pb-2">Next <i class="mdi mdi-chevron-right"></i></a></li>
                        </ul><!--end pagination-->
                    </div><!--end col-->
                </div>
            </div><!--end container-->
            
            <div class="container mt-100 mt-60">
                <div class="row justify-content-center">
                    <div class="col-12 text-center">
                        <div class="section-title">
                            <div class="titles">
                                <h4 class="title title-line text-uppercase mb-4 pb-4">Mon Blog : News</h4>
                                <span></span>
                            </div>
                            <p class="text-muted mx-auto para-desc mb-0">Sur ce site je publie aussi des articles relatifs a mes différents secteurs d'activites n'hésitez pas à venir regulierement </p>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
                <div class="row">
                    {% for post in posts %}
                        <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                            <div class="blog-post rounded shadow">
                                {% if post.photo500_x_800 %}
                                  <img src="{{ post.photo500_x_800.url }}" class="img-fluid rounded-top" alt="{{ post.titre }}">
                                {% endif %}
                                <div class="content pt-4 pb-4 p-3">
                                    <ul class="list-unstyled d-flex justify-content-between post-meta">
                                                <li><i data-feather="user" class="fea icon-sm mr-1"></i><a href="javascript:void(0)" class="text-dark">{{ post.auteur }}</a></li> 
                                                <li><i data-feather="tag" class="fea icon-sm mr-1"></i><a href="javascript:void(0)" class="text-dark">{{ post.categorie }}</a></li>                                    
                                            </ul>  
                                    <h5 class="mb-3"><a href="{% url 'post' post.id %}" class="title text-dark">{{ post.titre | slice:"0:50" }} ...</a></h5> 
                                    <ul class="list-unstyled mb-0 pt-3 border-top d-flex justify-content-between">
                                        <li><a href="javascript:void(0)" class="text-dark">Voir plus <i data-feather="chevron-right" class="fea icon-sm"></i></a></li>
                                        <li><i class="mdi mdi-calendar-edit mr-1"></i>{{post.date}}</li>
                                    </ul>
                                </div><!--end content-->
                            </div><!--end blog post-->
                        </div><!--end col-->
                    {% endfor %}
                </div>
            </div><!--end container-->
            
            <div class="container mt-100 mt-60">
                <div class="row">
                    <div class="col-md-4 mt-4 pt-2">
                        <div class="contact-detail text-center">
                            <div class="icon">
                                <i data-feather="phone" class="fea icon-md"></i>
                            </div>
                            <div class="content mt-4">
                                <h5 class="title text-uppercase">Téléphone</h5>
                                <p class="text-muted">Notre numéro est aussi disponible via whatsapp</p>
                                <a href="https://wa.me/+237658866639" class="text-primary">+237 658-86-66-39</a>
                            </div>  
                        </div>
                    </div><!--end col-->
                    
                    <div class="col-md-4 mt-4 pt-2">
                        <div class="contact-detail text-center">
                            <div class="icon">
                                <i data-feather="mail" class="fea icon-md"></i>
                            </div>
                            <div class="content mt-4">
                                <h5 class="title text-uppercase">Email</h5>
                                <p class="text-muted">Nous sommes aussi joignables par mails à l'adresse suivante.</p>
                                <a href="mailto:donfackarthur750@gmail.com" class="text-primary">donfackarthur750@gmail.com</a>
                            </div>  
                        </div>
                    </div><!--end col-->
                    
                    <div class="col-md-4 mt-4 pt-2">
                        <div class="contact-detail text-center">
                            <div class="icon">
                                <i data-feather="map-pin" class="fea icon-md"></i>
                            </div>
                            <div class="content mt-4">
                                <h5 class="title text-uppercase">Localisation</h5>
                                <p class="text-muted">Ecole Polytechnique <br>Yaounde , Melen</p>
                                <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11259.250745290274!2d11.48950953853385!3d3.864576176802713!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x108bcfa23aace247%3A0xe07671abb10169f9!2s%C3%89cole%20Nationale%20Sup%C3%A9rieure%20Polytechnique%20de%20Yaound%C3%A9!5e0!3m2!1sfr!2scm!4v1725645641232!5m2!1sfr!2scm" class="video-play-icon text-primary">Voir sur Google Map</a>
                            </div>  
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div><!--end container-->
        </section><!--end section-->
        <!-- Contact End -->

        {% endblock %}